@import 'variables';

.app-header {
  background-color: $color-white-base;
  border-radius: 20px 20px 0 0;
  position: relative;
}

.app-header__container {
  display: flex;
  height: 64px;
  padding: 12px 16px 0;
}

.app-header__logo {
  display: block;
  width: 40px;
  height: 40px;
}

.app-header__title {
  margin: 0 0 0 10px;
  padding: 0;
  height: 40px;
  font-family: 'Racing Sans One', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  color: $color-gray-80;
}

.app-header__button {
  height: 40px;
  margin-right: 16px;
  display: flex;
  align-items: center;

  &--help {
    margin-left: auto;
    padding: 0 4px 0 9px;
    background: $color-gray-10;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.44px;
    color: $color-gray-80;

    &:after {
      content: url("../img/help-circle.svg");
      display: block;
      width: 28px;
      height: 28px;
      margin-left: 20px;
    }
  }

  &--upgrade {
    padding: 0 14px;
    background: $color-white-base;
    box-shadow: 0 4px 8px rgba(54, 123, 245, 0.16), 0 2px 4px rgba(54, 123, 245, 0.24);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: $color-blue-base;
  }
}

.app-header__avatar {
  width: 40px;
  height: 40px;
}

.app-header__line {
  width: 100%;
  border: 1px dashed $color-gray-30;
  position: absolute;
  bottom: 0;
}
