$color-turquoise: #e2f0f0;
$color-white-base: #ffffff;
$color-blue-base: #367bf5;
$color-blue-smooth: #e6efff;
$color-dark: rgba(0, 0, 0, 0.87);
$color-gray-10: #f7f9fa;
$color-gray-30: #e3e5e6;
$color-gray-40: #c6cacc;
$color-gray-60: #919699;
$color-gray-80: #5e6366;
